.App {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 8px;
}

.search {
  display: flex;
  justify-content: center;
}

.input {
  width: 30%;
}

.history {
  color: gray
}

.history:hover {
  color: black;
}
